<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andersonlucier.android.metashot">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewShootingRecord" />
        <activity android:name=".WeaponInventory" />
        <activity android:name=".WeaponInventory_AddWeapon" />
        <activity android:name=".NewShotRecord" />
        <activity android:name=".NewShotRecord_AutoRecord" />
        <activity android:name=".NewShotRecord_ManualCreate"></activity>

        <service android:name=".AppLocationService" />
    </application>

</manifest>